@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; font-family: "微软雅黑"; word-wrap: break-word; word-break: break-all; outline: none; box-sizing: border-box; }
body { color: #424242; font-size: 14px; line-height: 1.75; background: #FFF; min-width: 1230px; }
a { color: #666; text-decoration: none; }
a:hover { color: #f60; }
dl, ul, ol { -webkit-margin-before: 0; -webkit-margin-after: 0; list-style: none; }
input[type="text"], input[type="number"], input[type="tel"], input[type="password"], textarea { border: 1px solid #ddd; border-left-color: #DDD; border-top-color: #DDD; padding: 2px 10px; width: 120px; line-height: 24px; height: 24px; }
input[type="text"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="password"]:focus, textarea:focus { border-color: #ddd; outline: none; }
input.redb, textarea.redb, input:focus.redb, textarea:focus.redb { border-color: #242424; }
button { line-height: 1 !important; *margin: 0px 10px; }
button { border: none; cursor: pointer; height: 30px; line-height: 30px; color: #FFF; background: #00959f; white-space: nowrap; padding: 0 15px; }
table { margin: 5px auto; border-collapse: collapse; border-spacing: 0; width: 100%; }
td, th { padding: 0px; border: 1px solid #DDD; padding: 5px; }
img { border: none;}
/* clearfix */
.hl-clearfix:after { content: "\0020"; display: block; clear: both; height: 0; }

.hl-substr { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.hl-tl { text-align: left; }
.hl-tr { text-align: right; }
.hl-tc { text-align: center; }
/*Display*/
.hl-disp-n { display: none; }
.hl-disp-b { display: block; }
.hl-disp-ib { display: inline-block;vertical-align: middle; }
/*Font Size*/
.hl-f0 { font-size: 0; }
.hl-f12 { font-size: 12px; }
.hl-f14 { font-size: 14px; }
.hl-f16 { font-size: 16px; }
.hl-f18 { font-size: 18px; }
.hl-f20 { font-size: 20px; }
.hl-f22 { font-size: 22px; }
.hl-f24 { font-size: 24px; }
.hl-f26 { font-size: 26px; }
.hl-f28 { font-size: 28px; }
.hl-f30 { font-size: 30px; }
.hl-f32 { font-size: 32px; }
.hl-f33 { font-size: 33px; }
.hl-f35 { font-size: 35px; }
.hl-f46 { font-size: 46px; }
.hl-f50 { font-size: 50px; }
/*Font Style*/
.hl-fb { font-weight: bold; }
.hl-fwn { font-weight: normal; }
.hl-fsn { font-style: normal; }
.hl-fs { font-family: '宋体'; }
.hl-fm { font-family: 'Microsoft Yahei'; }
.hl-fmr { font-family: 'Microsoft Yahei Regular'; }
.hl-fa { font-family: Arial; }
.hl-simsun { font-family: simsun; }

.hl-cap { text-transform: capitalize; }
.hl-ups { text-transform: uppercase; }
.hl-low { text-transform: lowercase; }

.hl-wb { word-break: break-all;	word-wrap: break-word; }
.hl-ws { white-space: nowrap;}

/* Font color */
.hl-ff { color: #fff; }
.hl-a3 { color: #00959f; }
.hl-43 { color: #434343; }
.hl-44 { color: #024044; }
.hl-4a { color: #4a4a4a; }
.hl-49 { color: #494949; }
.hl-53 { color: #535353; }
.hl-62 { color: #626262; }
.hl-66 { color: #666; }
.hl-69 { color: #696969; }
.hl-72 { color: #727272; }
.hl-93 { color: #938d8d; }
/* Background */
.hl-bgc-a3 {
	background-color: #00959f;
}
/*Margin-Arrays*/
.hl-mt5 { margin-top: 5px; }
.hl-mt10 { margin-top: 10px; }
.hl-mt20 { margin-top: 20px; }
.hl-mb5 { margin-bottom: 5px; }
.hl-mb10 { margin-bottom: 10px; }
.hl-mb20 { margin-bottom: 20px; }
.hl-ml5 { margin-left: 5px; }
.hl-ml10 { margin-left: 10px; }
.hl-ml20 { margin-left: 20px; }
.hl-mr5 { margin-right: 5px; }
.hl-mr10 { margin-right: 10px; }
.hl-mr20 { margin-right: 20px; }
.hl-mt20 { margin-top: 20px; }
.hl-ml20 { margin-left: 20px; }
.hl-mr20 { margin-right: 20px; }
.hl-mb20 { margin-bottom: 20px; }
.hl-mt30 { margin-top: 30px; }
.hl-ml30 { margin-left: 30px; }
.hl-mr30 { margin-right: 30px; }
.hl-mb30 { margin-bottom: 30px; }
.hl-mt10 { margin-top: 10px; }
.hl-ml10 { margin-left: 10px; }
.hl-mr10 { margin-right: 10px; }
.hl-mb10 { margin-bottom: 10px; }
.hl-mt15 { margin-top: 15px; }
.hl-ml15 { margin-left: 15px; }
.hl-mr15 { margin-right: 15px; }
.hl-mb15 { margin-bottom: 15px; }
.hl-mt5 { margin-top: 5px; }
.hl-ml5 { margin-left: 5px; }
.hl-mr5 { margin-right: 5px; }
.hl-mb5 { margin-bottom: 5px; }
.hl-mt30 { margin-top: 30px; }
.hl-ml30 { margin-left: 30px; }
.hl-mr30 { margin-right: 30px; }
.hl-mb30 { margin-bottom: 30px; }
.hl-mt35 { margin-top: 35px; }
.hl-ml35 { margin-left: 35px; }
.hl-mr35 { margin-right: 35px; }
.hl-mb35 { margin-bottom: 35px; }
.hl-mt40 { margin-top: 40px; }
.hl-mr40 { margin-right: 40px; }
.hl-ml40 { margin-left: 40px; }
.hl-mb40 { margin-bottom: 40px; }
.hl-ml50 { margin-left: 50px; }
.hl-mt50 { margin-top: 50px; }
.hl-mr50 { margin-right: 50px; }
.hl-mb50 { margin-bottom: 50px; }
.hl-mt70 { margin-top: 70px; }
.hl-mb70 { margin-bottom: 70px; }
.hl-ml70 { margin-left: 70px; }
.hl-mr70 { margin-right: 70px; }
.hl-mt100 { margin-top: 100px; }
/*ALL Pages use*/
.hl-fl { float: left; }
.hl-fr { float: right; }
/* Button */
.hl-button {

}
/* Width */
.hl-w1100 {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}