{include file="pageheader.htm"}
{include file="common.htm"}
<ul class="nav nav-tabs">
    <li{if $act == 'manage' } class="active"{/if}><a href="zhuanpan.php?act=manage">大转盘管理</a></li>
    <li{if $act == 'post'} class="active"{/if}><a href="zhuanpan.php?act=post">添加大转盘规则</a></li>
</ul>

<form id="reply-form" class="form-horizontal form" action="zhuanpan.php?act=post&rid=0" method="post" enctype="multipart/form-data">

<div class="form-group">
<div class="col-sm-12">

<input type="hidden" name="id" value="{$reply.id}" />
<div class="panel panel-default">
    <div class="panel-heading">
        活动设置
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 活动名称</label>
            <div class="col-sm-9 col-xs-12">
               	<input type="text" id="title" class="form-control" placeholder="" name="title" value="{$reply.title}">
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 活动时间</label>-->
            <!--<div class="col-sm-9 col-xs-12">-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 重复抽奖信息</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" id="repeat_lottery_reply" class="form-control" placeholder="" name="repeat_lottery_reply" value="{$reply.repeat_lottery_reply}">
				<div class="help-block">如果设置只允许抽一次奖的，可写：你已经玩过了，下次再来。 如果设置可多次抽奖，请写：继续努力哦！</div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        活动详细设置
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 奖品设置</label>
            <div class="col-sm-9 col-xs-12">
				<div class="panel panel-default">
               	<div class="panel-body table-responsive">
						<table class='table'>
							<thead>
								<tr>
									<th>奖品类别(10字以内)</th>
									<th>奖品名称(50字以内)</th>
									<th>奖品数量</th>
                                    <th>中奖概率(%)</th>
								</tr>
							</thead>
							<tbody id="re-items">
							<tr id='c_one'>
								<td><input id="c_type_one" name="c_type_one" type="text" class="form-control" value="{$reply.c_type_one]}" maxlength="10" placeholder='例如:一等奖' style="width:100px;"/></td>
								<td><input id="c_name_one" name="c_name_one" type="text" class="form-control" value="{$reply.c_name_one}"  maxlength="50"/></td>
								<td><input id="c_num_one"  name="c_num_one" type="text" class="form-control" value="{$reply.c_num_one}" /></td>
								<td><input id="c_rate_one"  name="c_rate_one" type="text" class="form-control" value="{$reply.c_rate_one}" /></td>
							</tr>
							<tr id='c_two'>
								<td><input id="c_type_two" name="c_type_two" type="text" class="form-control" value="{$reply.c_type_two}" placeholder='例如:二等奖' maxlength="10" style="width:100px;"/></td>
								<td><input id="c_name_two" name="c_name_two" type="text" class="form-control" value="{$reply.c_name_two}"  maxlength="50"/></td>
								<td><input id="c_num_two"  name="c_num_two" type="text" class="form-control" value="{$reply.c_num_two}"/></td>
								<td><input id="c_rate_two"  name="c_rate_two" type="text" class="form-control" value="{$reply.c_rate_two}" /></td>
							</tr>
							<tr id='c_three'>
								<td><input id="c_type_three" name="c_type_three" type="text" class="form-control" value="{$reply.c_type_three}" maxlength="10" placeholder='例如:三等奖' style="width:100px;"/></td>
								<td><input id="c_name_three" name="c_name_three" type="text" class="form-control" value="{$reply.c_name_three}"  maxlength="50"/></td>
								<td><input id="c_num_three"  name="c_num_three" type="text" class="form-control" value="{$reply.c_num_three}"/></td>
								<td><input id="c_rate_three"  name="c_rate_three" type="text" class="form-control" value="{$reply.c_rate_three}" /></td>
							</tr>
							<tr id='c_four'>
								<td><input id="c_type_four" name="c_type_four" type="text" class="form-control" value="{$reply.c_type_four}" maxlength="10" placeholder='例如:四等奖' style="width:100px;"/></td>
								<td><input id="c_name_four" name="c_name_four" type="text" class="form-control" value="{$reply.c_name_four}" maxlength="50"/></td>
								<td><input id="c_num_four"  name="c_num_four" type="text" class="form-control" value="{$reply.c_num_four}"/></td>
								<td><input id="c_rate_four"  name="c_rate_four" type="text" class="form-control" value="{$reply.c_rate_four}" /></td>
							</tr>
							<tr id='c_five'>
								<td><input id="c_type_five" name="c_type_five" type="text" class="form-control" value="{$reply.c_type_five}" placeholder='例如:纪念奖' maxlength="10" style="width:100px;"/></td>
								<td><input id="c_name_five" name="c_name_five" type="text" class="form-control" value="{$reply.c_name_five}"  maxlength="50"/></td>
								<td><input id="c_num_five"  name="c_num_five" type="text" class="form-control" value="{$reply.c_num_five}"/></td>
								<td><input id="c_rate_five"  name="c_rate_five" type="text" class="form-control" value="{$reply.c_rate_five}" /></td>
							</tr>
							<tr id='c_six'>
								<td><input id="c_type_six" name="c_type_six" type="text" class="form-control" value="{$reply.c_type_six}" placeholder='例如:参与奖' maxlength="10" style="width:100px;"/></td>
								<td><input id="c_name_six" name="c_name_six" type="text" class="form-control" value="{$reply.c_name_six}" maxlength="50"/></td>
								<td><input id="c_num_six"  name="c_num_six" type="text" class="form-control" value="{$reply.c_num_six}"/></td>
								<td><input id="c_rate_six"  name="c_rate_six" type="text" class="form-control" value="{$reply.c_rate_six}" /></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
            </div>
        </div>
 		<div class="form-group">
 			<label class="col-xs-12 col-sm-3 col-md-2 control-label">每人最多获奖次数</label>
            <div class="col-sm-5 col-xs-6">
               	<div class="input-group">
					<input type="text" class="form-control" name="award_times" value="{$reply.award_times}" />
					<span class="input-group-addon">次</span>
				</div>
				<div class="help-block">单个用户最多共享几个奖项，0为不限制，推荐设置为1次!</div>
            </div>
        </div>
     	<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">每人最多抽奖次数</label>
            <div class="col-sm-5 col-xs-6">
               	<div class="input-group">
					<input type="text" class="form-control" name="number_times" value="{$reply.number_times}" />
					<span class="input-group-addon">次</span>
				</div>
				<div class="help-block">抽奖总次数限制,0为不限制</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">每人每天最多抽奖次数</label>
            <div class="col-sm-5 col-xs-6">
               	<div class="input-group">
					<input type="text" class="form-control" name="most_num_times" value="{$reply.most_num_times}" />
					<span class="input-group-addon">次</span>
				</div>
				<div class="help-block">必须小于总抽奖次数！ 0 为不限制 抽完总数就不能抽了! 可以抽奖天数 = 总数/每天抽奖次数!</div>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>SN码重命名</label>-->
            <!--<div class="col-sm-9 col-xs-12">-->
            	<!--<input type="text" id="sn_rename" class="form-control" placeholder="" name="sn_rename" value="{$reply.sn_rename}">-->
				<!--<div class="help-block">例如：CND码，充值密码，SN码。这个主要用于修改SN码的名称。如果你想导入的SN码为充值密码，就设置为充值密码，其它也是如此。</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>手机号重命名</label>-->
            <!--<div class="col-sm-9 col-xs-12">-->
               	<!--<input type="text" id="tel_rename" class="form-control" placeholder="" name="tel_rename" value="{$reply.tel_rename}">-->
				<!--<div class="help-block">例如：QQ号,微信号,手机号,,邮寄地址! 不清楚的情况下，请默认设置手机号！此字段主要收集用户的信息方便联系。</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>显示奖品数量</label>-->
            <!--<div class="col-sm-9 col-xs-12">-->
               	<!--<label class="radio-inline">-->
                	<!--<input type="radio" name="show_num" value="1" {if $reply.show_num == 1} checked="checked"{/if}/>显示-->
                <!--</label>-->
                <!--<label class="radio-inline">-->
                	<!--<input type="radio" name="show_num" value="2" {if $reply.show_num == 2} checked="checked"{/if}/>不显示-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<script language='javascript'>
   $('form').submit(function(){
   if($("#title").isEmpty()){
		Tip.focus("title","请输入活动名称!","right");
		return false;
   }
//   if($("#ticket_information").isEmpty()){
//		Tip.focus("ticket_information","请输入兑奖信息!","right");
//		return false;
//   }
//   if($("#repeat_lottery_reply").isEmpty()){
//		Tip.focus("repeat_lottery_reply","请输入重复抽奖信息!","right");
//		return false;
//   }
  
   if($("#c_type_one").isEmpty()){	Tip.focus("c_type_one","请输入奖品类别!","left");	return false;  }
   if($("#c_name_one").isEmpty()){	Tip.focus("c_name_one","请输入奖品名称!","bottom");	return false;  }
   if($("#c_num_one").isEmpty()){	Tip.focus("c_num_one","请输入奖品数量!","right");	return false;  }
   if(!$("#c_type_two").isEmpty()){
       if($("#c_name_two").isEmpty()){	Tip.focus("c_name_two","请输入奖品名称!","left");	return false;  }
       if($("#c_num_two").isEmpty()){	Tip.focus("c_num_two","请输入奖品数量!","right");	return false;  }
   }
   if(!$("#c_type_three").isEmpty()){
       if($("#c_name_three").isEmpty()){	Tip.focus("c_name_three","请输入奖品名称!","left");	return false;  }
       if($("#c_num_three").isEmpty()){	Tip.focus("c_num_three","请输入奖品数量!","right");	return false;  }
   }
   if(!$("#c_type_four").isEmpty()){
       if($("#c_name_four").isEmpty()){	Tip.focus("c_name_four","请输入奖品名称!","left");	return false;  }
       if($("#c_num_four").isEmpty()){	Tip.focus("c_num_four","请输入奖品数量!","right");	return false;  }
   }
   if(!$("#c_type_five").isEmpty()){
       if($("#c_name_five").isEmpty()){	Tip.focus("c_name_five","请输入奖品名称!","left");	return false;  }
       if($("#c_num_five").isEmpty()){	Tip.focus("c_num_five","请输入奖品数量!","right");	return false;  }
   }
   if(!$("#c_type_six").isEmpty()){
       if($("#c_name_six").isEmpty()){	Tip.focus("c_name_six","请输入奖品名称!","left");	return false;  }
       if($("#c_num_six").isEmpty()){	Tip.focus("c_num_six","请输入奖品数量!","right");	return false;  }
   }
//   if($("#sn_rename").isEmpty()){
//		Tip.focus("sn_rename","请输入SN码重命名!","right");
//		return false;
//   }
//   if($("#tel_rename").isEmpty()){
//		Tip.focus("tel_rename","请输入电话重命名!","right");
//		return false;
//   }
   return true;
});
   
function moreItem() {
	var more = $("#more_item").val();
	if(more=="0" || more==""){
	   $("#c_four").show();
	   $("#c_five").show();
	   $("#c_six").show();
	}
	else{
	   $("#c_four").hide();
	   $("#c_five").hide();
	   $("#c_six").hide();
	}
	$("#more_item").val(more=='1'?'0':'1');
}
function doDeleteItemImage(obj,id) {
	var filename = $('input#' + id+"-value").val();
	$('.' + id +"_preview").html("");
	$(obj).html("正在删除...").attr("disabled",true);
		   ajaxopen('./index.php?act=attachment&do=delete&filename=' + filename, function(){
	   $(obj).html("<i class='icon-upload-alt'></i> 删除").hide().removeAttr("disabled");
	});
}

</script>

</div>


<div class="form-group">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">
        <input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1" />
        <input type="hidden" name="act" value="{$form_act}" />
        <input type="hidden" name="id" value="{$ads.ad_id}" />
    </div>
</div>

</div>
</form>

{include file="pagefooter.htm"}